<h1><%= I18n.t('links.new') %></h1>

<%= render 'form', work: @work, technology: @technology, link: @link %>

<%= link_to I18n.t("back"), work_technology_links_path(@work, @technology), class: 'link_word'%>
