<%= form_with(model: my_page, local: true, url:new_my_page_path) do |form| %>
  <% if my_page.errors.any? %>
    <div id="error_explanation" class = "alert alert-danger">
      <h2><%= pluralize(my_page.errors.count, "error") %> prohibited this my_page from being saved:</h2>

      <ul>
        <% my_page.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
