/*
*= require_self
*= require_tree .
*/

@import 'bootstrap';
@import "views.scss";
@import "session.scss";
@import "my_page.scss";
@import "pyramid.scss";
@import "search.scss";
@import "link.scss";

body{
  background: #E8E6E6;
}

.container{
  padding-top: 50px;
}

.icon{
  width: 40px;
  height: 40px;
}

header{
  width: 100%;
  div span {
    font-size: 15px;
    background-color:white;
    border: solid;
    border-radius: 10px;
    padding: 5px;
  }
}

footer{
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
  z-index: 1;
}

.wrapper { 
  padding: 30px 0;

}

.explanation { 
  width: 600px;
  border: thick double #000;
  border-radius: 10px;
}

.user_info{
  z-index: 0;
  text-align: right;
  font-size: 1.5rem;
}

.apply_concept{
  background-color: #8DF9FF;
  list-style-type: none;
}

.apply_service{
  background-color: #BBF9FF;
  list-style-type: none;
}

.apply_function{
  background-color: #EBF9FF;
  list-style-type: none;
}

.apply_summary{
  background-color: #FBF9FF;
}

.apply_description{
  padding: 200px 0;
}

.video-box {
  position: fixed;
  z-index: -1;/*最背面に設定*/
  top: 0;
  right:0;
  left:0;
  bottom:0;
  overflow: hidden;
}

video{
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*縦横幅指定*/
  width: 177.77777778vh; /* 16:9 の幅→16 ÷ 9＝ 177.77% */
  height: 56.25vw; /* 16:9の幅 → 9 ÷ 16 = 56.25% */
  min-height: 100%;
  min-width: 100%;
}

@media screen and (max-width: 640px) {
  .explanation { 
    width: 80%;
    border: thick double #000;
    border-radius: 10px;
  }
}

@media screen and (max-width: 750px) {
  .wrapper { 
    height: max-content;
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 565px) {
  .wrapper { 
    margin-bottom: 200px;
  }
}

@media screen and (max-width: 360px) {
  .wrapper { 
    margin-bottom: 350px;
  }
}

@media screen and (min-width: 640px) {
  .explanation { 
    width: 600px;
    border: thick double #000;
    border-radius: 10px;
  }
}