.my-page-content{
  margin: auto 0;
  text-align: center;
}

.my-page-explanation{
  width: 600px;
  background-color: white;
  border: thick double #000;
  border-radius: 10px;
  margin: 20px auto;
}

