.first-technology-line{
  margin: 20px;
  flex: auto;
}

.second-technology-line{
  margin: 20px;
}

.third-technology-line{
  margin: 20px;
}

.fourth-technology-line{
  margin: 20px;
}

.pyramid_wrapper{
  padding: 0 auto;
}
.pyramid_content{
  text-align: center;
  border: solid;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 70px;
}

.hierarcky-2{
  display: flex;
  justify-content: center;
}

.hierarcky-3{
  display: flex;
  justify-content: center;
}