.top-technology-line{
  margin: 20px;
}

.first-technology-line{
  margin: 20px;
  flex: auto;
}

.second-technology-line{
  margin: 20px;
}

.third-technology-line{
  margin: 20px;
}

.fourth-technology-line{
  margin: 20px;
}

#start{
  margin: 20px;
}

#end{
  margin: 20px;
}