<h1><%= I18n.t('technologies.edit') %></h1>

<%= render 'form', technology: @technology %>

<div class = "edit-link-word">
  <%= link_to I18n.t("show"), work_technology_path(@work, @technology) %> |
  <%= link_to I18n.t("back"), work_technologies_path(@work) %>
</div>

