<h1>Editing Technology</h1>

<%= render 'form', technology: @technology %>

<%= link_to 'Show', @technology %> |
<% if session[:before_controller_path].present? %>
  <%= link_to 'Back', pyramids_path(session[:top_technology_id]) %>
<% else %>
  <%= link_to 'Back', technologies_path %>
<% end %>
